!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title WorkingHoliday
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    -# <script src="anime.min.js"></script>
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = yield
    = javascript_pack_tag 'main', 'data-turbolinks-track': 'reload'
    = stylesheet_pack_tag 'main', media: 'all', 'data-turbolinks-track': 'reload'
    %div#app